button.new {
    padding: 10px;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.lego-table tr:first-child {
    outline: none;
}
.lego-table tr {
    outline: thin solid black;
}

.lego-table td {
    padding: 10px;
}

.lego-table img {
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}