<h1>Create a Lego Set</h1>
<br>
<form method="POST" action="/legos/new">
    <label for="name">Name: </label>
    <input type="text" name="name">
    <br>
    <label for="theme">Theme: </label>
    <input type="text" name="theme">
    <br>
    <label for="num_of_pieces">No. of Pieces: </label>
    <input type="text" name="num_of_pieces">
    <br>
    <input type="submit" value="Create">
</form>