<h1><%= @lego.name %></h1>
<h3><%= @lego.theme %></h3>
<h3><%= @lego.num_of_pieces %></h3>

<% if @user && (@user.id == @lego.user_id) %>
    <a href="/legos/<%= @lego.id %>/edit">Edit</a>
<% end %>