<h1>Login</h1>
<br>
<form method="POST" action="/login">
    <label for="username">Username: </label>
    <input type="text" name="username">
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password">
    <br>
    <input type="submit" value="Log In">
</form>
<a href="/"><button>Back</button></a>

<% if @errors %>
    <% @errors.each do |error| %>
        <h3><%= error %></h3>
    <% end %>
<% end %>